/* .contactform {
  display: flex;
  justify-content: space-around;
} */

.Classtext {
  margin-top: 50px;
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
  display: flex;
}

.TEXT {
  display: flex;
  font-weight: bold;
  color: white;
}

.form-gap {
  margin: 20px;
}

.BTN-CONTACT {
  padding: 20px;
}

/* 
.contact-box {
  width: 90px;
  height: 50px;
  border: 5px solid gray;
  padding: 30px;
} */

.contactform {
}
